<!DOCTYPE html>
<html
  lang="srb"
  xmlns="https://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
>
  <head> </head>

  <body>
    <th:block th:fragment="about"> 
      <section class="about-area" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="section-title">
                <h5>Who i am</h5>
                <h2 class="title">Learn about me</h2>
              </div>
              <div class="section-text">
                <p>Hi, i’m Marco Crew, certified strength and conditioning specialist (CSCS), certified nutritional practitioner (CNP), psychology grad and health coach.</p>
                <p>I’ve been fortunate enough to coach clients for years to help them reach their goals with both nutrition and fitness. <span>NO GIMMICKS OR QUICK FIXES</span>, but truly helping clients form new and sustainable habits, feel better and get excited about fitness.
      </p>
                <p>Growing up I was always very active, playing sports and dancing. Unfortunately, I dropped all these activities when I went to University and completely lost my ‘level of fitness’. My journey in the gym started in 2009, when I wandered in, clueless about what to do but knowing I wanted to get stronger, reshape my body and feel more confident in myself. </p>
                <p>My goal is to help others realize their potential: equipping them with the knowledge to achieve their goals and gain confidence through strength.</p>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="image-wrapper">
                <img src="https://i.imgur.com/ysGYhhn.jpg" alt="" class="img-fluid">
              </div> 
            </div>
          </div>
        </div>
      </section>
    </th:block>
  </body>
</html>
