<!DOCTYPE html>
<html
  lang="srb"
  xmlns="https://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
>
  <head> </head>

  <body>
    <th:block th:fragment="contact"> 
      <section class="help-area" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-title center">
                <h5>Let’s work together</h5>
                <h2 class="title">Need help?</h2>
              </div>
              <div class="section-text center">
                <p>Are you ready to finally change your bad habits? If you have further questions or want to get in contact with someone directly please email me at <a href="mailto:support@marcocrew.com" target="_blank" rel="noopener">support@marcocrew.com</a> or reach out via instagram <a href="">@marcocrew</a>.</p>
              </div>
              <div class="center-btn">
                          <a href="" class="btn-accent">Contact</a>
      
              </div>
            </div>
          </div>
        </div>
        <ul class="list-unstyled shape-group">
          <li class="shape shape-1">
            <img src="https://i.imgur.com/5Kr5GJz.jpg" alt="">
          </li>
          <li class="shape shape-2">
            <img src="https://i.imgur.com/H8rxgqh.jpg" alt="">
          </li>
          <li class="shape shape-3">
            <img src="https://i.imgur.com/lH99SLz.jpg" alt="">
          </li>
          <li class="shape shape-4">
            <img src="https://i.imgur.com/yMFDhbQ.png" alt="">
          </li>
          <li class="shape shape-5">
            <img src="https://i.imgur.com/HXeQPhY.jpg" alt="">
          </li>
          <li class="shape shape-6">
            <img src="https://i.imgur.com/XfB58BT.png" alt="">
          </li>
        </ul>
      </section>
      
    </th:block>
  </body>
</html>
