<!DOCTYPE html>
<html
  lang="srb"
  xmlns="https://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
>
  <head> </head>

  <body>
    <th:block th:fragment="faq"> 
      <div id="faq">
        <section class="banner">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-lg-12">
                <div class="banner-content">
      
                  <div class="section-title">
                    <h5>Everything you should know</h5>
                    <h2 class="title">Frequently asked questions</h2>
                  </div>
      
                  <!--             faq -->
                  <div class="accordion-custom">
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1. Does it have a laptop sleeve?
                          </button>
                          <hr class="separator accent dark">
                          </hr>
      
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Yes! Make sure to place the reservoir in the back compartment sleeve, just behind the laptop sleeve, when using one reservoir. That way it is nice and snug! If using the EmPack Nomad, please use the velcro seatbelt strap!
                          </div>
                          <hr class="separator accent dark">
                          </hr>
      
                        </div>
                      </div>
      
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2. How much weight does each full reservoir add to the EmPack?
      
                          </button>
                          <hr class="separator accent dark">
                          </hr>
      
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Each full reservoir is around 13-15 pounds when filled with water. Remember that water is an unstable weight and will automatically feel heavier than your general static weight that you use in the gym. It adds a new element of stability training and proprioception (teaching your body to adapt to new surroundings) that will challenge your body in a whole new way.
      
                          </div>
                          <hr class="separator accent dark">
                          </hr>
      
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3. How many reservoirs can the EmPack hold?
                          </button>
                          <hr class="separator accent dark">
                          </hr>
      
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            You can get up to 4 reservoirs in the original EmPack, 2 reservoirs in the BirthFit EmPack and 1 reservoir in the EmPack Nomad.
                          </div>
                          <hr class="separator accent dark">
                          </hr>
      
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            4. How do you fill the reservoirs?
                          </button>
                          <hr class="separator accent dark">
                          </hr>
      
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            When filling the reservoirs with water, the best place to fill the reservoirs is either in a bathtub, a big sink, or my favorite: the ocean!
                          </div>
                          <hr class="separator accent dark">
                          </hr>
      
                        </div>
                      </div>
      
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            5. Can I fill the reservoirs with something other than water?
                          </button>
                          <hr class="separator accent dark">
                          </hr>
      
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            Simply follow the video instructions provided on this website! The transition is simple: take off the shoulder straps (unless using as a weighted vest) and tighten the front area by pulling the straps snug.
                          </div>
                          <hr class="separator accent dark">
                          </hr>
      
                        </div>
                      </div>
      
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            6. Can I drink from the reservoirs?
                          </button>
                          <hr class="separator accent dark">
                          </hr>
      
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            The reservoirs are not made to be drank from so we do not recommend drinking the water that you use, BUT all versions have a hydration reservoir insert that allow you to easily add a hydration device to your adventure!
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
      
        </section>
      </div>
    </th:block>
  </body>
</html>
