<!DOCTYPE html>
<html
  lang="srb"
  xmlns="https://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
>
  <head> </head>

  <body>
    <th:block th:fragment="footer"> 
      <footer id="footer" class="footer-bg-dark py-30">
        <div class="container">
          <div class="copyright">
            <div class="row">
              <div class=" order-sm-custom"> <hr class="separator dark mb-sm">
                          </hr></div>
              <div class="col-lg-4 arr">
                <p>© 2022 Marco Crew. All Rights Reserved. <br> Made with <i class="fas fa-heart"></i> by Aleksandra</p>
              </div>
              <div class="col-lg-8 order-sm-custom">
                <ul>
                  <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
      
        </div>
      </footer>
    </th:block>
  </body>
</html>
