<!DOCTYPE html>
<html
  lang="srb"
  xmlns="https://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
>
  <head> </head>

  <body>
    <th:block th:fragment="hero"> 
        <div class="main-wrapper" id="home">
            <section class="banner">
              <div class="container-fluid">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="banner-content">
                      <h1 class="title">gain <span class="highlight">confidence</span> from within</h1>
                      <p>Fitness, nutrition & advice for all life stages</p>
                      <a href="#services" class="btn-accent">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="list-unstyled shape-group">
                <li class="shape shape-1">
                  <img src="https://axilthemes.com/demo/template/abstrak/assets/media/others/bubble-16.png" alt="">
                </li>
                <li class="shape shape-2">
                  <img src="https://axilthemes.com/demo/template/abstrak/assets/media/others/bubble-15.png" alt="">
                </li>
                <li class="shape shape-3">
                  <img src="https://axilthemes.com/demo/template/abstrak/assets/media/others/bubble-14.png" alt="">
                </li>
                <li class="shape shape-4">
                  <img src="https://axilthemes.com/demo/template/abstrak/assets/media/others/bubble-16.png" alt="">
                </li>
                <li class="shape shape-5">
                  <img src="https://axilthemes.com/demo/template/abstrak/assets/media/others/bubble-26.png" alt="">
                </li>
                
              </ul>
            </section>
              </div>
    </th:block>
  </body>
</html>
