<!DOCTYPE html>
<html
  lang="srb"
  xmlns="https://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
>
  <head> </head>

  <body>
    <th:block th:fragment="services"> 
      <section class="service-area" id="services">
        <div class="container">
          <div class="row icon-box">
            <div class="col-lg-4">
              <div class="section-title">
                <h5>What I can do</h5>
                <h2 class="title">services i can help you with</h2>
              </div>
              <div class="icon-box-item">
                <div class="icon-box">
                  <img class="icon-img" src="https://i.imgur.com/MGze3zo.png" alt="Icon">
                </div>
                <div class="content">
                  <h4>Online training</h4>
                  <p>Working with clients remotely, on a weekly or monthly basis, you get a work plan and program. I'm here for you 00-24h (phone, sms, e-mail, whatsapp, viber).
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-item-center">
              <div class="icon-box-item">
                <div class="icon-box">
                    <img class="icon-img" src="https://i.imgur.com/MGze3zo.png" alt="Icon">
                </div>
                <div class="content">
                  <h4>Personal training</h4>
                  <p>Working 1 on 1 will help you reach your desired goal the fastest. Be persistent and you will see that this is the best solution for you.
                  </p>
                </div>
              </div>
              <div class="icon-box-item">
                <div class="icon-box">
                    <img class="icon-img" src="https://i.imgur.com/MGze3zo.png" alt="Icon">
                </div>
                <div class="content">
                  <h4>Guided training</h4>
                  <p>Semi-individual training or guided training is a great program for people who have been physically active for a long time. With my supervision we will come to an even better result.
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4">
              <div class="icon-box-item">
                <div class="icon-box">
                    <img class="icon-img" src="https://i.imgur.com/MGze3zo.png" alt="Icon">
                </div>
                <div class="content">
                  <h4>Preparing athletes</h4>
                  <p>Are you a professional athlete? No problem. I have many years of experience in professional sports, I can help basketball players and football players the most.
                  </p>
                </div>
              </div>
              <div class="icon-box-item">
                <div class="icon-box">
                    <img class="icon-img" src="https://i.imgur.com/MGze3zo.png" alt="Icon">
                </div>
                <div class="content">
                  <h4>Diet plans</h4>
                  <p>I am here for you to give you the best tips on diet and supplementation.
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
    </th:block>
  </body>
</html>
